<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSHeadPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A2A443F1DE41EDD006B7B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A2A44531DE41EDD006B7B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A2A445E1DE41EDD006B7B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
